 <h2>会員情報編集</h2>
    <%= form_with model: @customer, url: customers_path, local:true do |f| %>

        <div>
          <%= f.label :first_name, "氏名" %>
          <div>
            <%= f.text_field :last_name%>
          </div>
          <div>
            <%= f.text_field :first_name %>
          </div>
        </div>

        <div>
          <%= f.label :first_name, "フリガナ" %>
          <div>
            <%= f.text_field :last_name_kana %>
          </div>
          <div>
            <%= f.text_field :first_name_kana %>
          </div>
        </div>

        <div>
          <%= f.label :postcode, "郵便番号" %>
          <div>
            <%= f.text_field :postcode %>
          </div>
        </div>

        <div>
          <%= f.label :address, "住所" %>
          <div>
            <%= f.text_field :address %>
          </div>
        </div>

        <div>
          <%= f.label :phone_number, "電話番号" %>
          <div>
            <%= f.text_field :phone_number %>
          </div>
        </div>

        <div>
          <%= f.label :email, "メールアドレス" %>
          <div>
            <%= f.email_field :email %>
          </div>
        </div>

        
          <div>
            <%= f.submit "編集内容を保存" %>
          </div>
          <div>
            <%= link_to "退会する", confirm_customers_path %>
          </div>
        

      <% end %>
