       <div class= "d-flex flex-wrap justify-content-around mb-5 genre-box">
 <% items.each do |item| %>
    <div class= "product-box">
      <% if item.sale_status == true %>
        <%= link_to item_path(item) do %>
          <%= attachment_image_tag(item, :image, size: "400x320", format: 'jpeg' ,fallback: "cake.jpg", class: "item-effect") %></br>
        <% end %>
      <% else %>
        <div class="sold-out">
          <%= link_to item_path(item) do %>
            <%= attachment_image_tag(item, :image, size: "400x320", format: 'jpeg' ,fallback: "cake.jpg", class: "item-effect") %></br>
          <% end %>
          <h3>Sold out</h3>
        </div>
      <% end %>

      <p class="text-center item-name-p"><%= link_to item.name, item_path(item), class: "item-name" %></p>
      <p class="text-right item-price-p">¥ <%= item.price.to_s(:delimited) %></p>
    </div>
  <% end %>
</div> 