<div class="container">
    <div class= "row">
        <div class="col-md-3"><table>ジャンル検索
<% @genres.each do |genre| %>
<tr><td><%= genre.name %></td></tr>
<% end %>
</table></div>
        <div class= "col-md-2 col-md-offset-1 d-flex justify-content-center">
            <%= image_tag @item.image, size: "400×300" %>
            <% if @item.sale_status == false %>
            <span>Sold out</span><% end %>
        </div>
        
        <div class= "col-md-6 mx-auto">
            <h2><%= @item.name %></h2>
        
        <div class="item-body">
            <%= @item.body %>
        </div>
        <div class="item-price">
            <%= @item.add_tax_price.to_s(:dalimited) %>(税込)
        </div>
        
        
　　  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
            <%= f.hidden_field :item_id, :value =>@item.id %>
            <%= f.hidden_field :customer_id, :value =>current_customer.id %>
            <%= f.select :quantity, *[1..9] %>
            <%= f.submit "カートに入れる" %>
            <% end %>
        </div>
    </div>
</div>